h1,
h2,
h3,
h5 {
  font-family: "SuisseWorks-Bold";
  src: url("../fonts/SuisseWorks-Bold.ttf");

  color: #2c0739;
  font-style: normal;
  font-weight: bold;
}

h4,
.subtitle1,
.subtitle2 {
  font-family: "ProximaNova-Bold";
  src: url("../fonts/ProximaNova-Bold.otf");
  margin-top: 15px;
}

h6,
p,
.p2 {
  font-family: "ProximaNova-Regular";
  src: url("../fonts/ProximaNova-Regular.otf");
}

.overline {
  font-family: "SpaceMono-Bold";
  src: url("../fonts/SpaceMono-Bold.ttf");
}

.baseButton,
.search,
.captions,
.baseInfoBox p {
  font-family: "SpaceMono-Regular";
  src: url("../fonts/SpaceMono-Regular.ttf");
}

h1 {
  /* Desktop H1 */
  font-size: 70px;
  line-height: 80px;
  /* or 114% */

  display: flex;
  align-items: center;
  letter-spacing: -0.03em;
}

h2 {
  /* Desktop H2 */
  font-size: 54px;
  line-height: 60px;
  /* identical to box height, or 111% */

  letter-spacing: -0.025em;
}

h3 {
  /* Desktop H3 */
  font-size: 46px;
  line-height: 56px;
  /* identical to box height, or 122% */

  letter-spacing: -0.02em;
}

h4 {
  font-size: 40px;
  line-height: 48px;
  /* identical to box height, or 120% */

  letter-spacing: -0.005em;
}

h5 {
  /* Desktop H5 */
  font-size: 32px;
  line-height: 36px;
  /* identical to box height, or 112% */

  letter-spacing: -0.01em;
}

h6 {
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  margin-top: 40px;
}

.wrapper {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
}

.offerBox {
  padding: 5px;
}

.offerBox img {
  float: left;
}

.prim {
  background: #47e17a;
  border-radius: 25px;
  border: 0;
  padding: 7px 24px;
}

.sec {
  background: white;
  border: 1;
  border-color: #2C0A38;
  border-radius: 25px;
  padding: 5px 24px;
}

.inputField {
  width: 300px;
}

.short {
  width: 150px;
}